{% extends 'base.html' %}
{% block main %}
    <div class="row ibox-content">
            <form class="m-t col-md-offset-4 col-md-4" role="form" method="POST" action="/adduser" >
                <div class="form-group col-md-10">
                     <label class="control-label">姓名</label>
                     <input type="text" class="form-control " name="uname">
                </div>
                <div class="form-group col-md-10">
                     <label class=" control-label">性别</label>
                    <input type="text" class="form-control" name="usex">
                </div>
                <div class="form-group col-md-10">
                     <label class=" control-label">账号</label>
                    <input type="text" class="form-control" name="u_name">
                </div>
                <div class="form-group col-md-10">
                     <label class="control-label">密码</label>
                    <input type="text" class="form-control" name="upd">
                </div>
                <div class="form-group col-md-10">
                     <label class="control-label">职位</label>
                    <input type="text" class="form-control" name="upt">
                </div>
                <div class="form-group col-md-10">
                     <label class=" control-label">联系方式</label>
                    <input type="text" class="form-control" name="uphone">
                </div>
                 <div class="form-group  col-md-10 ">
                     <input type="submit" class="btn btn-sm btn-primary center-block" value="添加">
                </div>
            </form>
    </div>
{% endblock %}