{% extends 'base.html' %}
{% block main %}
     				<div class="row">
					<div class="col-lg-12">
            <div class="row">
            	<div class="col-lg-3">
            		<div class="widget style1">
            				<div class="row">
            					<div class="col-xs-4 text-center">
            						<i class="fa fa-trophy fa-5x"></i>
            					</div>
            					<div class="col-xs-8 text-right">
            						<span> 今天收入 </span>
            						<h2 class="font-bold">$ 4,232</h2>
            					</div>
            				</div>
            		</div>
            	</div>
            	<div class="col-lg-3">
            		<div class="widget style1 navy-bg">
            			<div class="row">
            				<div class="col-xs-4">
            					<i class="fa fa-cloud fa-5x"></i>
            				</div>
            				<div class="col-xs-8 text-right">
            					<span> 今日天气 </span>
            					<h2 class="font-bold">22'C</h2>
            				</div>
            			</div>
            		</div>
            	</div>
            	<div class="col-lg-3">
            		<div class="widget style1 lazur-bg">
            			<div class="row">
            				<div class="col-xs-4">
            					<i class="fa fa-envelope-o fa-5x"></i>
            				</div>
            				<div class="col-xs-8 text-right">
            					<span> 新消息 </span>
            					<h2 class="font-bold">53</h2>
            				</div>
            			</div>
            		</div>
            	</div>
            	<div class="col-lg-3">
            		<div class="widget style1 yellow-bg">
            			<div class="row">
            				<div class="col-xs-4">
            					<i class="fa fa-address-book-o fa-5x"></i>
            				</div>
            				<div class="col-xs-8 text-right">
            					<span>  </span>
            					<h2 class="font-bold">12</h2>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
					</div>
				</div>
				        <div class="row">
				            <div class="col-lg-6">
				                <div class="widget navy-bg no-padding">
				                    <div class="p-m">
				                        <h1 class="m-xs">$ 5,545605</h1>

				                        <h3 class="font-bold no-margins">
				                            年收入
				                        </h3>
				                        <small>2018年总收入。</small>
				                    </div>
				                    <div class="flot-chart">
				                        <div class="flot-chart-content" id="flot-chart1"></div>
				                    </div>
				                </div>
				            </div>
				            <div class="col-lg-3">
				                <div class="widget lazur-bg no-padding">
				                    <div class="p-m">
				                        <h1 class="m-xs">$ 210,6602</h1>

				                        <h3 class="font-bold no-margins">
				                            季收入
				                        </h3>
				                        <small>上季度收入。</small>
				                    </div>
				                    <div class="flot-chart">
				                        <div class="flot-chart-content" id="flot-chart2"></div>
				                    </div>
				                </div>
				            </div>
				            <div class="col-lg-3">
				                <div class="widget no-padding yellow-bg">
				                    <div class="p-m">
				                        <h1 class="m-xs">$ 560403</h1>

				                        <h3 class="font-bold no-margins">
				                            月收入
				                        </h3>
				                        <small>上月总收入。</small>
				                    </div>
				                    <div class="flot-chart">
				                        <div class="flot-chart-content" id="flot-chart3"></div>
				                    </div>
				                </div>
				            </div>
				        </div>
								<div class="row">
								                <div class="col-lg-6">
								                    <div class="ibox float-e-margins">
								                        <div class="ibox-title">
								                            <h5>视频窗口</h5>
								                        </div>
								                        <div class="ibox-content">
								                            <figure>
								                                <iframe width="780" height="349" src="http://vali.cp31.ott.cibntv.net/youku/697467588134571bc11bb3b77/03000801005BC7F58FD05DE1476A71832E81D4-7A0A-466C-8BF4-8A74C3FCC54B.mp4?sid=054072181000010008765_00_A7e343a14b9b25526619429f6a79ac150&sign=46fd5fe31053f7d69cef1ad4acca35a8&ctype=50" frameborder="0" allowfullscreen></iframe>
								                            </figure>
								                        </div>
								                    </div>
								                </div>

								                <div class="col-lg-6">
								                    <div class="ibox float-e-margins">
								                        <div class="ibox-title">
								                            <h5>公告</h5>
								                        </div>
								                        <div class="ibox-content profile-content">
								                            <h4><strong>关于对xxx方便面下架通知</strong></h4>
								                            <p><i class="fa fa-clock-o"></i> 2018年10月27日上传</p>
								                            <p>
								                                前端时间在电视上爆料的关于xxx方便面没有通过食品检查，现通过公司管理决定全部下架xxx方便面。请相关人员在2018年10月29日前下架所有相关商品。
								                                <br/>
								                                <br/>
                                                            </p>
								                        </div>
								                    </div>
								                </div>
                                </div>
{% endblock %}